body{
    font-family: "narkiss-yair-variable", sans-serif;
    font-variation-settings: "MONO" 0, "wght" 400;
    background-color: black;
    color: white;
    position: absolute;

    background-image:url('imgs/background_logo.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    
    background-position:100% 0;
}
background-image{
    opacity: 0.8;
}
img{
    width: auto;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{ 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;  
}
.heading{
    padding-left: 10%;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 30px;
}
.heading2{
    padding-left: 26%;
    font-size: 35px;
    font-weight: 200;
    color: rgb(218, 173, 73);
   

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border-radius: 15px;
    width: 50%;
    height: 250px;
    
    font-weight: 300;
    letter-spacing: 2px;
}
p{
    font-size: 25px;
    padding: 1%;
    background-color: none;
    opacity: 0;
    color: none;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}
.button-aboutMe{
     width: 300px;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color:white;
    background-color: white;
    color: black;
    margin-top: 5%;  
    margin-left: 0%;
    font-size: 18px;
}
.button-contact{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color:white;
    background-color: white;
    color: black;
    margin-top: 5%;  
    margin-left: 0%;
    font-size: 18px;
}

.button-git{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color:white;
    background-color: white;
    color: black;
    margin-top: 5%;  
    font-size: 18px;      
    margin-left: 0%;
}
.button-git:hover {
    background-color: rgb(47, 86, 118);    
    color: white;
}
.button-contact:hover {
    background-color: rgb(132, 178, 175);    
    color: white;
}
.button-aboutMe:hover{
    background-color: rgb(211, 175, 90);
}
/*animation*/
div {
    opacity: 0;
    left: 100%;
    transition: opacity 900ms ease-in;
}

.show-time div {
    opacity: 1;
    left: 0%;

}
/*animation*//*animation*/
.contentContact{
    display: flex;
    justify-content: space-evenly; 
 
}
#contentEmail{
    margin: 5%;
}
#space1, #space2, #space3, #space4{
    margin-top: 25%;
    margin-bottom: 25%;
}

.contact{
    display: flex;
    justify-items: center;
    align-items: center;  
    color: white;
}
img{
    height: 20px;
    width: 20px;
    background-color: white;
}
#copy2-button{
    border-radius: 40px;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-color:white;
    background-color: white;
    color: white;  
}
#copy1-button{
    border-radius: 40px;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-color:white;
    background-color: white;
    color: white;  
}
/*page 2*/
.page2{
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}