body{
    font-family: "narkiss-yair-variable", sans-serif;
    font-variation-settings: "MONO" 0, "wght" 400;
    background-color: black;
    color: white;
    position: absolute;

    background-image:url('imgs/background_logo.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    
    background-position:100% 0;
}
background-image{
    opacity: 0.8;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{ 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0%;  
}
.heading{
    padding-left: 10%;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 30px;
}
.heading2{
    padding-left: 26%;
    font-size: 35px;
    font-weight: 200;
    color: rgb(218, 173, 73);
 

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border-radius: 15px;
    width: 50%;
    height: 250px;
    font-weight: 300;
    letter-spacing: 2px;
}
p{
    font-size: 25px;
    padding: 1%;
    background-color: none;
    opacity: 0;
    color: none;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}
.button-aboutMe{
     width: 300px;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color:white;
    background-color: white;
    color: black;
    margin-top: 5%;  
    margin-left: 0%;
    font-size: 18px;
}
.button-contact{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color:white;
    background-color: white;
    color: black;
    margin-top: 5%;  
    margin-left: 0%;
    font-size: 18px;
}

.button-git{
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    border-color:white;
    background-color: white;
    color: black;
    margin-top: 5%;  
    font-size: 18px;      
    margin-left: 0%;
}
.button-git:hover {
    background-color: rgb(47, 86, 118);    
    color: white;
}
.button-contact:hover {
    background-color: rgb(132, 178, 175);    
    color: white;
}
.button-aboutMe:hover{
    background-color: rgb(211, 175, 90);
}
/*animation*/
div{
    opacity: 0;
    left: 100%;
    transition: opacity 900ms ease-in;
}

.show-time div {
    opacity: 1;
    left: 0%;
}
/*animation*//*animation*/
.contentContact{
    display: flex;
 justify-content: space-evenly;
 
}
#contentEmail{
    font-size: 200%;
    margin: 2%;
}
#contentNumber{
    font-size: 200%;
    margin: 2%;
}
#space1, #space2, #space3, #space4{
    margin-top: 25%;
    margin-bottom: 25%;
}
.email-phone{
    font-size: 200%;
}
.contact{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;  
    color: white;
}
.arrowImg{
    width: 31.5px;
    height: 82.9px;
    transform: rotate(180deg);
    position: fixed; 
}
.copyImg{
    width: 50px;
    height: 50px;   
}
.arrow{
display: flex;
margin-top: 20%;
}
#copy2-button{
    border-radius: 4px;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color:white;
    background-color: white;    
    padding: 1%;
}
#copy1-button{
    border-radius: 4px;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color:white;
    background-color: white;
    padding: 1%;
}
/*page 2*/
.skilsDiv1{
    display: flex;
    margin: auto;
    width: 70%;
    padding: 10px;
}
.skilsDiv2{
    display: flex;
    margin: auto;
    width: 70%;
    padding: 10px;
}
.imgLogo{
    width: 40px;
    height: 43px;
    margin: 0.8%;
}
.imgLogoCss{
    width: 40px;
    height: 40px;
    margin: 1%;
}
.skillsText{
    width: 90%; 
    margin: 1%;
}